[Unit]
Description=uWSGI instance to serve ucs538-assignment5-q1
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/apps/ucs538-assignment5
Environment="PATH=/home/user/apps/ucs538-assignment5/assvenv/bin"
ExecStart=/home/user/apps/ucs538-assignment5/assvenv/bin/uwsgi --ini extractFeatures.ini

[Install]
WantedBy=multi-user.target
